.bg-image {
  background-image: linear-gradient(#66b3ff, #1d314a);
}
.bg-about {
  background-image: url(../../img/1.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}
.dark-gray {
  color: #808080;
}
.arrow-text {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 5px;
}
.bg-portfolio {
  background-image: url(../../img/portfilio.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}
.bg-testmonial {
  background-image: url(../../img/tastm.png);
  margin-left: auto;
  background-repeat: no-repeat;
}
.swiper {
  /* width: 100%; */
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}
.skill-container ul li h2 {
  text-decoration: none;
  font-weight: bold;

  text-transform: uppercase;
  position: relative;
}
.skill {
  background-color: #cbd5e1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
  height: 20px;
  border-radius: 10px;
  width: 90%;
  overflow: hidden;
  transition: all, 0.3s, cubic-bezier(0.25, 0.8, 0.25, 1);
}
.skill span {
  height: 20px;
  float: left;
}
.html {
  width: 80%;
  animation: html 3s;
  background: #f97316;
}
.css {
  width: 90%;
  animation: css 3s;
  background: #3b82f6;
}
.bs {
  width: 95%;
  animation: bs 3s;
  background: #6d28d9;
}
.tc {
  width: 95%;
  animation: tc 3s;
  background: #06b6d4;
}
.js {
  width: 75%;
  animation: js 3s;
  background: #eab308;
}
.ts {
  width: 85%;
  animation: ts 3s;
  background: #1e40af;
}
.rt {
  width: 90%;
  animation: rt 3s;
  background: #38bdf8;
}
.nd {
  width: 60%;
  animation: nd 3s;
  background: #65a30d;
}
.ex {
  width: 80%;
  animation: ex 3s;
  background: #ef4444;
}
.md {
  width: 70%;
  animation: md 3s;
  background: #16a34a;
}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes bs {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes tc {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes ts {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes rt {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes nd {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@keyframes ex {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes md {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
