.bg-image {
  background-image: linear-gradient(#66b3ff, #1d314a);
}
.bg-about {
  background-image: url(../../img/1.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}
.dark-gray {
  color: #808080;
}
.arrow-text {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 5px;
}
